<nav class="uk-navbar-container uk-margin-bottom">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo uk-text-primary" href="/" aria-label="Go to home">Renker</a>
                
				<ul class="uk-navbar-nav">
					<.navbar_links/>
                </ul>
            </div>
        </div>
    </div>
</nav>

<main class="uk-container">
    <%= @inner_content %>
</main>
